<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Cover.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <div class="nleft">
          <a href="/Cover" class="nlink">Home</a>
          <a href="/places" class="nlink">Places</a>
          <a href="/Gallery" class="nlink">Gallery</a>
        </div>
        <div class="nmid">
          <a href="" class="nlink">Traveller's Treasure</a>
        </div>
        <div class="nright">
          <a href="#member" class="nlink">Our Members</a>
          <a href="/" class="nlink">Add Places</a>
        </div>
      </div>
      <div class="hero">
        <div class="left">
          <img
            src="https://media.istockphoto.com/id/1164386039/photo/howrah-bridge-on-river-ganges-at-kolkata-at-twilight-with-moody-sky.jpg?s=612x612&w=0&k=20&c=CHrNWdInFSDyERdvgd0f8935hZcBQU6lbYCE4LlXqUY="
            alt=""
          />
          <div class="leftxt">
            The traveler sees what he sees, the tourist sees what he has come to
            see.
          </div>
        </div>
        <div class="mid">
          <img
            src="https://miro.medium.com/v2/resize:fit:1200/1*WIxSw3k950-PBnWDnReVyg.jpeg"
            alt=""
          />
          <div class="midtxt">
            <x>Kolkata</x>
          </div>
        </div>
        <div class="right">
          <div class="rightxt">
            find your best weekend destination
            <a href="/Gallery">
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
          <img
            src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2020/08/Feature-image-Kolkata-Heritage.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="explore">
        <a href="/places">
          <button>
            Explore Now
            <i class="ri-arrow-right-line"></i>
          </button>
        </a>
      </div>
      <div class="about">
        <h2>About Our Project</h2>
        <p>
          We are a team of passionate individuals dedicated to delivering
          high-quality Information and services to our Travelers.
        </p>
      </div>
      <div class="container" id="member">
        
        <div class="member">
          <img
            src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-649.jpg?size=626&ext=jpg"
            alt="Member 2"
          />
          <h2>Mudabbir Rehan Ansari</h2>
          <p>Leader</p>
        </div>
        <div class="member">
          <img
            src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-649.jpg?size=626&ext=jpg"
            alt="Member 3"
          />
          <h2>Souradeep Saha</h2>
          <p>Developer</p>
        </div>
        <div class="member">
          <img
            src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-649.jpg?size=626&ext=jpg"
            alt="Member 4"
          />
          <h2>Suvodeep Bhattacharya</h2>
          <p>Analytics</p>
        </div>
        <div class="member">
          <img
            src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-649.jpg?size=626&ext=jpg"
            alt="Member 5"
          />
          <h2>MD. Talha Yousuf</h2>
          <p>Analytics</p>
        </div>
        <div class="member">
          <img
            src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-649.jpg?size=626&ext=jpg"
            alt="Member 6"
          />
          <h2>Abhijeet Tantubay</h2>
          <p>Analytics</p>
        </div>
      </div>
      <div class="footer">
        Copywright
        <i class="ri-copyright-line"></i>
        2024 Souradeep. All Right Reserved
      </div>
    </div>
  </body>
</html>
