<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/places.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="nleft">
              <a href="index.html" class="nlink">Home</a>
              <a href="" class="nlink">Places</a>
              <a href="" class="nlink">Gallery</a>
            </div>
            <div class="nmid">
              <a href="" class="nlink">Souradeep</a>
            </div>
            <div class="nright">
              <a href="" class="nlink">Our Members</a>
            </div>
        </div>
        <div class="nearest">
            <div class="nearheading">
                Nearest Tourist place
            </div>
            <div class="placesdiv">
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://images.unsplash.com/photo-1503918756811-975bd3397178?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                            <form action="/places/:username" method="post"> <k>Alipore Zoo</k></form>
                           
    
                        </div>
                        
                       
                    </div>
                </div>
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://assets.telegraphindia.com/telegraph/2022/Dec/1671970320_1651731527_40092ed4-a98f-472f-9962-cc1af257.jpg" alt="">
                            <k>PAUL'S CATHEDRAL</k>
    
                        </div>
                        
                       
                    </div>
                </div>
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://thumbs.dreamstime.com/b/belur-math-kolkata-belur-math-belur-mutt-headquarters-ramakrishna-math-mission-founded-swami-vivekanandaa-99252546.jpg" alt="">
                            <k>BELUR MATH</k>
    
                        </div>
                        
                       
                    </div>
                </div>
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://images.unsplash.com/photo-1649521973050-4f4eea8fa1d9?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                            <k>DAKSHINESHWAR TEMPLE</k>
    
                        </div>
                        
                       
                    </div>
                </div>

            </div>
            <div class="placesdiv">
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://www.touryatras.com/wp-content/uploads/slider/cache/57e152614eeeb9dffc9f6b1af6f5ef08/Maharshi_Bhavan_Jorasanko_Thakur_Bari_Kolkata.jpg" alt="">
                            <k>JORASANKHO THAKURBARI</k>
    
                        </div>
                        
                       
                    </div>
                </div>
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://adventurousgopal.files.wordpress.com/2014/06/ride.jpg" alt="">
                            <k>NICCO PARK</k>
    
                        </div>
                        
                       
                    </div>
                </div>
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://assets.telegraphindia.com/telegraph/2022/Oct/1665235431_shutterstock_2172002779-1.jpg" alt="">
                            <k>eco park</k>
    
                        </div>
                        
                       
                    </div>
                </div>
                <div class="spots">
                    <div class="spots">
                        <div class="placeimg">
                            <img src="https://static.toiimg.com/thumb/msid-94803488,width-1070,height-580,imgsize-86582,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg" alt="">
                            <k>science city</k>
    
                        </div>
                        
                       
                    </div>
                </div>

            </div>
            
        </div>
        <div class="footer">
            Copywright 
            <i class="ri-copyright-line"></i>
            2024 Souradeep. All Right Reserved

        </div>

    </div>
   

    
</body>
</html>